              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      MTK开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      xxxxxx
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#embedded">
                      zzzzzz
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#android">
                      aaaaaa
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Misc
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#cocos2d">
                      bbbbbb
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#web">
                      cccccc
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#network">
                      dddddd
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
